:root {
  --ion-color-primary: #003e5b;
  --ion-color-primary-rgb: 0,62,91;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #003750;
  --ion-color-primary-tint: #1a516b;

  --ion-color-secondary: #000548;
  --ion-color-secondary-rgb: 0,5,72;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #00043f;
  --ion-color-secondary-tint: #1a1e5a;

  --ion-color-tertiary: #3a1762;
  --ion-color-tertiary-rgb: 58,23,98;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #331456;
  --ion-color-tertiary-tint: #4e2e72;

  --ion-color-success: #12542d;
  --ion-color-success-rgb: 18,84,45;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #104a28;
  --ion-color-success-tint: #2a6542;

  --ion-color-warning: #ffa909;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #d1162e;
  --ion-color-danger-rgb: 209,22,46;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #b81328;
  --ion-color-danger-tint: #d62d43;

  --ion-color-dark: #020202;
  --ion-color-dark-rgb: 2,2,2;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #020202;
  --ion-color-dark-tint: #1b1b1b;

  --ion-color-medium: #5c5f67;
  --ion-color-medium-rgb: 92,95,103;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #51545b;
  --ion-color-medium-tint: #6c6f76;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}